@import "~antd/dist/antd.css";

.App__Header {
  background: #fff;
  border: 1px solid #f0f1f2;
  box-shadow: 0 2px 8px #f0f1f2;
}

.App__Slider {
  height: 100%;
  background: #fff;
}

.App__Content {
  height: 100%;
  background: #fff;
}

.App__Wrapper--Bottom {
  height: calc(100vh - 100px);
}

.main-wrapper {
  position: relative;
  padding: 40px 0 0;
  height: calc(100vh - 100px);
  background: #fff;
}
